# Functions

* A funtion is block of code which only runs when it is called.
* In python function is defined with the 'def' keyword.
* Function can accept any number of arguments of any type.

In [2]:
def tea() :
    print("Boil water with tea leaves and sugar")
    print("Add milk")
    print("Let it boil 4-5 times")
print("Not part of function")

Not part of function

In [4]:
# Calling tea function
tea()

Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times

In [5]:
for i in range(5) :
    tea()

Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times

In [18]:
def hello(name) :
    print("Hello",name)

In [19]:
hello("Lucky")

Hello Lucky

In [20]:
hello(5)

Hello 5

In [24]:
def fight(name, age, villains) :
    print("Hero name", name, "at age", age , "was fighting all these villains -", villains)

In [26]:
fight("Spiderman", 20,["Vulture","Venom","Electro"])

Hero name Spiderman at age 20 was fighting all these villains - ['Vulture', 'Venom', 'Electro']

In [28]:
def fight(name, age, villains =["Thanos","Ultron"]) :
    print("Hero name", name, "at age", age , "was fighting all these villains -", villains)

In [29]:
fight("Spiderman",20)

Hero name Spiderman at age 20 was fighting all these villains - ['Thanos', 'Ultron']

### Return data from a function

In [32]:
def cube(x) :
    ans = x**2
    return ans

In [33]:
cube(2)

4

In [34]:
y=cube(7)

In [35]:
y

49

In [36]:
z = cube(4)

In [37]:
print("7 cube + 4 cube", y+z)

7 cube + 4 cube 65

In [44]:
def cube(x) :
    ans = x**2
    return ans
    return Lucky #reduntant code , will never be executed

In [45]:
l=cube(6)
l

36

### Return as many values as you want

In [39]:
def spiderman():
    return "Peter parker", 20, "Tom Holland"

In [40]:
name, age, actor =spiderman()

In [41]:
name

'Peter parker'

In [43]:
print("Name =", name)

Name = Peter parker

### Calling with Keyword pair argument

In [1]:
def fight(name, age, villains) :
    print("Hero name", name, "at age", age , "was fighting all these villains -", villains)

In [3]:
fight(name="Spiderman", villains=["Vulture","Venom","Electro"], age=20)

Hero name Spiderman at age 20 was fighting all these villains - ['Vulture', 'Venom', 'Electro']

In [4]:
# fight?

### Call Stack

In [9]:
m = 10
# Global variable 
# its value can be read inside any function

y = 1000
    
def square(x) :
    print("m =" ,m)
    global y
    y = 5
    print("y =" ,y)
    return x**2


def pythagoras(a,b) :
#     a , b are local variable
    c2 = square(a) + square(b)
    return c2

pythagoras(4,5)

print("Hello")
print("y =" ,y)
print("m =" ,m)

m = 10
y = 5
m = 10
y = 5
Hello
y = 5
m = 10

### Map Function

In [2]:
def square(x) :
    return x**2

a =[5,3,4,2,1]

* Genrate a list that contin the square of the number in 'a'
* b =[25,9,16,4,1]

In [4]:
b=[]

for i in a :
    b.append(i**2)

In [5]:
b

[25, 9, 16, 4, 1]

In [8]:
c=[]

for x in a :
    c.append(square(x))

In [9]:
c

[25, 9, 16, 4, 1]

you want to call a function on all element of an iterable(list,range,tuple,set).

In [10]:
b=list(map(square,a))

In [11]:
b

[25, 9, 16, 4, 1]

### Lambda Function

In [12]:
def square(x) :
    return x**2

In [13]:
square2 = lambda x: x**2

In [14]:
square(2)

4

In [15]:
multiple = lambda a,b : a*b

In [16]:
multiple(6,7)

42

In [17]:
g = lambda b : (b**2,b+b)

In [19]:
g(10)

(100, 20)